font-face {
font-family: 'WOC_55Rg';
src: url('../fonts/55Rg.eot'); /* IE9 Compat Modes */
src: url('../fonts/55Rg.eot?iefix') format('eot'), /* IE6-IE8 */
 url('../fonts/55Rg.woff') format('woff'), /* Modern Browsers */
 url('../fonts/55Rg.ttf')format('truetype'), /* Safari, Android, iOS */
 url('../fonts/55Rg.svg#RokkittRegular') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'WOC_75BdTxt';
src: url('../fonts/75BdTxt.eot'); /* IE9 Compat Modes */
src: url('../fonts/75BdTxt.eot?iefix') format('eot'), /* IE6-IE8 */
 url('../fonts/75BdTxt.woff') format('woff'), /* Modern Browsers */
 url('../fonts/75BdTxt.ttf')format('truetype'), /* Safari, Android, iOS */
 url('../fonts/75BdTxt.svg#RokkittRegular') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'WOC_75Bd';
src: url('../fonts/75Bd.eot'); /* IE9 Compat Modes */
src: url('../fonts/75Bd.eot?iefix') format('eot'), /* IE6-IE8 */
 url('../fonts/75Bd.woff') format('woff'), /* Modern Browsers */
 url('../fonts/75Bd.ttf')format('truetype'), /* Safari, Android, iOS */
 url('../fonts/75Bd.svg#RokkittRegular') format('svg'); /* Legacy iOS */
}