/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Import styles & Main Variables
   ========================================================================== */
$break-small:960px;
$break-medium:1200px;
$break-big:1460px;

$primary-color:#fff;	
$secondary-color:#000;
$tertiary-color:#faebd7 ;

$case01-color:#d8d8d8;

$main-font:"NHaasGroteskDSPro-75Bd", 'Helvetiva', 'arial, sans-serif';
$secondary-font:"Courier New", 'Courier', 'monospace';


@import "grid";		      //Grid styles
@import "fonts";		 //Typography loading	



/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body, html {
  height: 100%;
}

body{
	//margin-top:-40px;
}

.img-responsive{display:block;
	max-width:94%;
	height:auto;
}

.position-fixed{
	position:fixed;
}

.position-relative{
	position:relative;
}

.position-top{
	top:0;

}

/* Typography
----------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, .main-nav{
	font-weight:normal;
}



h1, h2, h3, .main-nav {
	font-family: $main-font;
}

footer{
	font-family: $secondary-font;
	font-size:0.688em;
}

h1{
	font-size:1.688em;
	
}

h2 {
	font-size: 2.625em;
	line-height:1.25em;
	padding: 20% 0 0 0;
}

h3{
	font-size: 1.750em;
	line-height:1.25em;
}

.main-nav{
	font-size: 0.875em;
}

/* Hyperlinks
----------------------------------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:active{
	color: $secondary-color;
	text-decoration:none;
}

a:hover, a:active{
	border-bottom:2px solid $secondary-color;
}





/* Main-nav
----------------------------------------------------------------------------------------------------*/

header{
	position: fixed;
	z-index: 999;
	width: 100%;
	background:$primary-color ;
	color:$secondary-color;;
}

ul.main-nav {
	padding-top:15px;
	float:right;
	list-style-type:none;
}

ul.main-nav li{
	display:inline;
	padding:0 10px;
}

ul.main-nav li:last-child{
	display:inline;
	padding:0  0 0 10px;
}


header.secondary {color:$primary-color;}
header.secondary a:link, header.secondary a:visited, header.secondary a:hover, header.archive a:active{color:$primary-color;}
header.secondary a:hover, header.secondary a:active{border-color:$primary-color;}

/* Footer
----------------------------------------------------------------------------------------------------*/
footer{
	position: fixed;
	bottom:0;
	z-index: 999;
	width: 100%;
	height:48px;
	//background:$primary-color ;
}

footer.secondary, footer.secondary a:link, footer.secondary a:visited, footer.secondary a:hover, footer.secondary a:active {
 	color:$primary-color;
}

footer.secondary.position-relative{
	background:$secondary-color;
	float: left;
}

span.lang{
	position: relative;
	top: 18px;
}

address.right {
	position: relative;
	bottom: 15px;
	text-align:right;
	font-style:normal;
}



/* Main Sections & Containers
----------------------------------------------------------------------------------------------------*/



section {
	position:relative;
	float:left;
}
section.fullscreen {
	width:100%; height:100%; min-height:720px;
}
section.normal {
	width:100%; height:auto;
}


.cycle-slideshow{
	height:100%;
}

/* Sections
----------------------------------------------------------------------------------------------------*/


section#profile{background:$tertiary-color ;}
.profile {background:$tertiary-color ;}

section#work{background:#fff ;}
.work{background:$case01-color ;}

section#archive{background:$secondary-color ; padding:50px 0;}
.archive {background:$secondary-color}



/* Work cases
----------------------------------------------------------------------------------------------------*/
.case{
	width:100%;
	height:100%;
	background:$case01-color ;
	position:relative;
}

.case-container{
	height:100%;
	position:relative;
}

.work-nav{
	position: absolute;
	margin-top: 25%;
	z-index: 999;
	padding:0 5%;
	width:90%
}

#prevControl{
	float:left;
	position:relative;
	width:100px
}

#nextControl{
	float:right;
	position:relative;
	width:100px;
}

.case-link{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	z-index:999;;
}

/* Archive Image Grid
----------------------------------------------------------------------------------------------------*/
.mosaicflow__column {
    float:left;
    }
	
.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
	padding: 3% 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
